.container {
    display: flex;      
    align-items: flex-start;
    gap: 20px; 
    max-width: 2000px;       
}

.types{
     padding: 25px;
     
}

.order-panel{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
